@value makerWhite, makerGreen from '../../common/color.css';

.footer {
    width: 100%;
    background-color: makerGreen;
    text-align: center;
}

.title {
    color: makerWhite;
}

a {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 24px;
    color: #fff;
}
